<% layout('layouts/boilerplate') %>
<div class="container mt-4">
  <h1>🚻 Welcome to Where Is My Loo</h1>
  <p>Find and share public toilets around you.</p>
  <a href="/toilets" class="btn btn-primary">View Toilets</a>
</div>
